# Nim compiled
*.exe
*.out
nimcache/
nimblecache/

# Binary
bin/nimcode

# Test executables
tests/test_tui
tests/test_statusbar
tests/test_stream
tests/test_input

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Sessions (local data)
.nimcode/

# Nimble
*.nimble.lock
